@using PagedList.Mvc
@model PagedList.IPagedList < ModelEF.Model.UserAccount>


@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/DOTNETGROUP/Views/Shared/_Layout.cshtml";
}
@section Header{
    <i class="fa fa-user"></i>&nbsp;Quản lý người dùng
}


@using (Html.BeginForm("Index", "User", FormMethod.Post)) {
    <div class="form-group  col-lg-12">
        <div class="col-md-6">
            @Html.ActionLink("Tạo mới người dùng", "Create", "User", new { @class = "btn btn-danger" });
        </div>


        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khoá cần tìm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-default" />
        </div>
    </div>
}
<div class="col-lg-12 form-group">
    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
               ID
            </th>
            <th>
               Username
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>


        @{ var i = 1;}
        @foreach (var item in Model)
        {
            <tr id="row_@item.ID">
                <td>
                    @i
                </td>
                @*<td>
                    <i class="fa fa-refresh"></i>
                    &nbsp;
                    @Ajax.ActionLink("Xoá", "Delete", new { @username = item.Username }, new AjaxOptions
                    {
                      Confirm = "Bạn có muốn xoá user này?",
                      OnComplete = "$('#row_" + item.Username + "').remove()",
                      HttpMethod = "Delete"
                     })
                </td>*@
            <td>
                @Ajax.ActionLink("Xoá", "Delete",new AjaxOptions
           {
               Confirm = "Bạn có muốn xoá user này?",
               OnComplete = "$(row_" + item.ID + ").remove()",
               HttpMethod = "Delete"
           })
            </td>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Status
                </td>

            </tr>
            i++;
        }
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page, @searchString = ViewBag.SearchString}))
</div>